* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.app {
    text-align: center;
    background-image: url(./images/blank-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 1s ease-in-out;
}

.app.hot {
    background-image: url(./images/hot-bg.jpg);
    transition: 1s ease-in-out;
}

.app.warm {
    background-image: url(./images/warm-bg.jpg);
    transition: 1s ease-in-out;
}

.app.clear {
    background-image: url(./images/clear-bg.jpg);
    transition: 1s ease-in-out;
}

.app.cold {
    background-image: url(./images/cold-bg.jpg);
    transition: 1s ease-in-out;
}

.container {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
    min-height: 100vh;
    padding: 25px;
}

.search-box {
    width: 100%;
    margin: 0 0 75px;
}

.search-box .search-bar {
    display: block;
    width: 100%;
    padding: 15px;

    appearance: none;
    background: none;
    border: none;
    outline: none;

    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px 16px 16px 16px;
    margin-top: 0px;

    box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

    color: #313131;
    font-size: 20px;

    transition: 0.4s ease;
}

.search-box .search-bar:focus {
    background-color: rgba(255, 255, 255, 0.75);
}

.location-box .location {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
    text-align: center;
}

.weather-box .temp {
    position: relative;
    display: inline-block;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;

    padding: 15px 25px;

    color: #fff;
    font-size: 102px;
    font-weight: 900;

    text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
    text-align: center;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.feel {
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    text-shadow: none;
}

@media (max-width: 575px)
{
    .search-box .search-bar {
        margin-top: -25px;
        border-radius: 0px 0px 16px 16px;
    }
}

/* LOADER */

.loader
{
    background: black;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  